body {
    background-color: lightgray;
    background-size: cover;
    font-family: Consolas, monospace;
}

h1 {
    text-align: center;
    font-family: Consolas, monospace;
}

.card-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 450px;
    height: 450px;
}

.card {
    text-align: center;
    background-color: #ff239c;
    height: 120px;
    width: 120px;
    border-radius: 15px;
}